<div class="container-fluid">
    <div class="row">
    	<div class="col-2 mt-5">
    		<div class="p-2 position-fixed">
    			<p><%= link_to "Favorite Restaurants", "/restaurants/favlist" %></p>
    			<p><%= link_to "Favorite Menu items", "/restaurants/favlist" %></p>
    			<p><%= link_to "Search Restaurants", "/restaurants" %></p>
    			<p><%= link_to "Sign out", destroy_user_session_url, method: :delete %></p>
    		</div>
    	</div>
    		  <%= yield %>
    </div>
</div>