<%=  render 'shared/ownerNav' do %>
  	<div class="col-10">
  		<h1><%= @restaurant.name %></h1>
  		<%=image_tag @restaurant.image_url %>
  	<%= content_tag :div,
			id: "addFoodItem",
			restaurant: @restaurant.to_json,
			food: @food.to_json do %>
		<% end %>
<% end %>
<%= javascript_pack_tag 'hello_react' %>